@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.App {
  // background-color: #191414;
  // background-color: #191414;
  background-color: #121212;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  width: 55%;
  padding: 1.5rem 1rem 1rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  background: #181818;
  width: 100%;
  text-align: center;
  height: 35px;
  font-size: 0.8rem;

  & a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;


    &:hover {
      font-size: 120%;
      letter-spacing: 5px;
    }
  }
}

.login {
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  & a {
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      font-size: 120%;
      letter-spacing: 5px;
    }
  }
}

.sidebar {
  background-color: #000;
  max-height: 100%;
  max-width: 15rem;
  font-size: 0.8rem;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  font-weight: 400;
  color: #b3b3b3;
  overflow: hidden;

  & ul {
    padding: 0 0 0 0.7rem;
    list-style: none;

    & li {
      padding: 0.4rem;
      display: inline-block;
      width: 80%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;

      &:not(:last-child) {
        margin-bottom: 0.2rem;
      }

      & a {
        color: inherit;
        text-decoration: none !important;
      }
    }
  }
}

.sideNavPrimary {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 800;

  &::after {
    content: "";
    width: 50%;
    left: 1vw;
    position: absolute;
    border-bottom: 0.2px solid white !important;
  }
}

.sideNavPlaylist {
  & h3 {
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 2rem;
    font-size: 1rem;
  }

  & .scrollable {
    overflow-y: auto;
    max-height: 75vh;
    scrollbar-color: red yellow;

  }
}

.bottom-bar {
  width: 100%;
  background: #181818;
  position: absolute;
  bottom: calc(0px + 35px);
  left: 0;
  padding-top: 1rem;
  border-top: 1px solid #282828;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
  background: rgba(255, 255, 255, .3);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 56, 58);
}

.main-view {
  font-size: 0.8rem !important;
  height: calc(100vh - 15vh);
  width: calc(100vw- 20rem);
  margin-left: 18rem;
  margin-bottom: 5rem;
  top: 5rem;
  left: 0;
  // position: absolute;
  overflow-y: scroll;
}

.recommended {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  &--title {
    flex-basis: 100%;
    text-align: left;

    & h1 {
      font-weight: 800;
    }

    & h4 {
      font-weight: 500;

    }
  }

  &--block {
    background-color: rgba(24, 24, 24, 1);
    border-radius: 13px;
    padding: 1rem;
    margin: 0.6rem;
    width: 10rem;
    height: 15rem;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    text-align: left;

    &__cover {
      max-height: 80%;

      img {
        width: 100%;
        height: 85%;
        border-radius: 13px;
      }
    }

    &__title {
      margin-top: 0.6rem;
      display: inline-block;
      width: 80%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      font-weight: 800;
      text-decoration: none;
      color: inherit;
    }

    &__desc {
      width: 80%;
      margin-top: 0.5rem;
      font-weight: 300;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    &__artist {
      margin-top: 0.5rem;
      font-weight: 300;

    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
      transform: translateY(-10px);
    }
  }
}